{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Bem-vindo ao portal Memomed!</h1>

            {% if session['username'] %}
                <h3>Vamos começar?</h3>
            {% else %}
                <p>Você ja possui cadastro? <a href="{{url_for('login') }}">Login</a></p>
            {% endif %}

            <div style="text-align:left;">
                <h2>O que é o Memomed?</h2> 
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias optio odio dolore ducimus tempore at sequi? Nobis magni ducimus sint ipsam ipsa. Et odio aliquam tempore reiciendis asperiores unde non. </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex impedit sed fugit, dignissimos deleniti nostrum commodi eligendi nam velit vero fuga fugiat debitis magnam delectus laudantium cupiditate libero, expedita exercitationem.</p> 
            </div>

        </div>
    </div>
{% endblock %}
